<div class="d-flex flex-column align-items-center p-5">
    <h1 class="text-warning mb-5">About Us</h1>
    <p class="mb-4 text-white">We are a team of developers who created this website using:</p>

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F4BB;</span> HTML</h5>
                <p class="card-text">HyperText Markup Language (HTML) is the standard markup language for creating web
                    pages and web applications.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F3B8;</span> CSS</h5>
                <p class="card-text">Cascading Style Sheets (CSS) is a style sheet language used for describing the
                    presentation of a document written in HTML or XML.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F4BB;</span> JavaScript</h5>
                <p class="card-text">JavaScript is a high-level programming language that is used to create interactive
                    websites and web applications.</p>
            </div>
        </div>
    </div>

    <div class="card-deck mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F4E6;</span> jQuery</h5>
                <p class="card-text">jQuery is a fast, small, and feature-rich JavaScript library that simplifies HTML
                    document traversing, event handling, and animating.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F527;</span> Bootstrap</h5>
                <p class="card-text">Bootstrap is a popular front-end framework that includes pre-built HTML, CSS, and
                    JavaScript components for creating responsive, mobile-first web pages and web applications.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F680;</span> Node.js</h5>
                <p class="card-text">Node.js is a back-end JavaScript runtime environment that allows developers to run
                    JavaScript code on the server side of web applications.</p>
            </div>
        </div>
    </div>

    <hr class="bg-warning mt-5">

    <h3 class="text-warning mb-3">Our Team</h3>
    <p class="mt-4 mb-4 text-white">Our website was created as a project for the Web Application Design course
        (WDDM-121-0NA)
        at Humber College in Toronto, Canada.</p>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F1E7;&#x1F1F7;</span> Diego Arndt</h5>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C4D03AQFVZc-M3TZoVg/profile-displayphoto-shrink_800_800/0/1663468439538?e=1685577600&v=beta&t=TObLjdU-ms_Y_npZ6lTr71ZKfGXp5kBFNWn5z01bUrk">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F1F3;&#x1F1EC;</span> David Akoshile</h5>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C4D03AQHEUMoQaelFWw/profile-displayphoto-shrink_800_800/0/1664115553960?e=1686182400&v=beta&t=KIij3Qd_O_Kvu4SEnTRERnrYNUNv4t_Nsz8_dRG-kQ0">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="mr-2">&#x1F1EE;&#x1F1F3;</span> Ajay Kareer</h5>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/D5603AQEQPR64BkVSIg/profile-displayphoto-shrink_800_800/0/1679208686776?e=1686182400&v=beta&t=9jn2Wir6KA1robZ_Eagr_JQrt5DyfubxnpGkRB5YXrQ">
            </div>
        </div>
    </div>
</div>