html,
body {
    background-color: black !important;
    color: white;
    height: 100%;
}

a {
    color: gray !important;
    margin-bottom: 1.2rem;
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.global-container {
    height: calc(100vh - 15rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-container-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-black {
    background-color: black !important;
}

.card-title {
    font-weight: 300;
}

.btn {
    font-size: 14px;
    margin-top: 20px;
}

.btn:disabled {
    cursor: not-allowed;
}

.login-form {
    width: 500px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 20px 0 0;
}

.alert {
    margin-bottom: -30px;
    font-size: 13px;
    margin-top: 20px;
}

.custom-select {
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.col-3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}
