html,
body {
    background-color: black !important;
    color: white;
    height: 100%;
}

a {
    color: gray !important;
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.global-container {
    height: calc(100vh - 15rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-container-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-black {
    background-color: black !important;
}

.card-title {
    font-weight: 300;
}

.btn {
    font-size: 14px;
    margin-top: 20px;
}

.login-form {
    width: 500px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 20px 0 0;
}

.alert {
    margin-bottom: -30px;
    font-size: 13px;
    margin-top: 20px;
}