.bg-darkgray {
    background-color: #ffcc000d;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f8f9fa;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
}

.search-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

.search-input {
    flex-grow: 1;
    border: none;
    margin-left: 10px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    font-size: 20px;
    color: #495057;
    cursor: pointer;
}

.btn {
    margin-top: 0 !important;
}

.btn-block {
    width: 100%;
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #ffc107;
}

.nav-item:hover {
    background-color: #ffc107;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.event-date:hover {
    background-color: #ffc107 !important;
    color: white !important;
    border-radius: 10px;
}

.selected {
    background-color: #ffc107 !important;
    color: white !important;
    border-radius: 10px;
}